.tv-show-list {
  padding: 20px;
  text-align: center;
  background-color: #444;
}

.tv-show-list h2 {
  font-size: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgba(255, 248, 220, 0.883);
  text-shadow: 3px 1px 8px #000;
}

.tv-show-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 20px;
  justify-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}
.pagination button {
  padding: 0.5rem 1rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.pagination button:hover:not(:disabled) {
  background-color: #666;
  transform: scale(1.05);
}
.pagination button:disabled {
  background-color: #999;
  cursor: not-allowed;
}
.pagination span {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
